$buttonHover : rgb(112, 119, 116);
$primaryBtn: rgb(247, 225, 225);
$textColor : rgb(75, 21, 163);
$backColor : rgb(255, 255, 255);
$secColor : rgb(139, 207, 121);
$navColor : rgb(10, 10, 10);
$border : 0px #cccc solid;